@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
body{
    position: relative;
}
#god{
    background: rgb(244, 40, 40);
    height: 100vh;
    display: flex ;
    justify-content: center;
    align-items: center;

    background-image: url('https://cdn.pixabay.com/photo/2016/09/08/12/00/stars-1654074__480.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
#main{
    width: 80vw;   
}

#subMain{
    border-radius: 20px;

}
#headline{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
    font-size: 40px;
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(246, 74, 74);
    margin: 1% 0;
    border-radius: 20px;
    box-shadow: -6px 6px 5px rgb(229, 88, 88);
}
#t_c{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 29px;
    font-family: 'Source Code Pro', monospace;
    background-color: yellowgreen;
    height: 9vh;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: -6px 10px 5px yellowgreen;
    
}
#time{
    margin-left: 50px;

}
#click{
    margin-right: 60px ;
}
.game{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F450334.jpg&f=1&nofb=1&ipt=f00e3534c7ad4955402ec38d7db000b128257c1cd9a3792e738c08e1b3a363ed&ipo=images');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -6px 10px 5px rgb(14, 9, 9);
    
}
#start{
    color: white;
    font-size: 29px;
    font-family: 'Source Code Pro', monospace;
}
#game_over{
    display: none;
    position: absolute;
    top: 35%;
    left: 35%;
    min-height:32vh ;
    min-width: 20vw;
    background-color: yellowgreen;
    border-radius: 25px;
}

#align{
    margin-top: 7vh;
    color: white;
    font-size: 23px;
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(246, 74, 74);
    margin: 10px;
    border-radius: 25px;
    height: 25vh;
}
#top{
    background-color: rgb(246, 74, 74);
    padding: 0 21px;
    position: absolute;
    top: -10px;
    left: 30%;
    height: 37px;
    width: 100px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px rgb(3, 3, 21);
}
#result{
    padding-top: 13%;
    margin-left: 20px;
    
}

#average{
    margin-left: 20px;
}
#ok{
    position: absolute;
    bottom:20px ;
    left: 38%;
    height: 34px;
    width: 80px;
    font-size: 25px;
    min-width: 7vw;
    color: white;
    background-color: rgb(246, 74, 74);
    border-radius: 20px;
    box-shadow: 2px 2px 3px rgb(3, 3, 21);
    cursor: pointer;
    transition: all;
}







@media only screen and (max-width: 480px){
    #headline{
        height: 100px;
        font-size: 23px;
        margin-bottom: 25px;
    }
    #t_c{
        font-size: 20px;
    }
    #time{
    margin-left: 20px;

    }
    #click{
        margin-right: 30px ;
    }
    .game{
        height: 300px;
        background-size: 375px 400px;
        
    }
    #game_over{
        left: 20vw;
        height:35% ;
        width: 240px;
    }
    #align{
        height: 28vh;
    }
    #top{
        padding: 0 21px;
        left: 26%;
        height: 34px;
        width: 80px;
    }
    #result{
        font-size: 20px;
    }
    
    #average{
        font-size: 20px;
    }
    #ok{
        height: 34px;
        width: 80px;
        left: 34%;
        bottom:20px ;

    }
}


@media only screen and (min-width: 480px) and (max-width: 768px){

    #game_over{
        left: 27vw;
        height:35% ;
        width: 290px;
    }
    #align{
        height: 28vh;
    }
    #top{
        padding: 0 21px;
        left: 27%;
        height: 36px;
        width: 90px;
    } 
    #ok{
        height: 34px;
        width: 90px;
        left: 34%;
        bottom:20px ;
    }

}
